@use '../variables' as va;
@use '../mixins' as mix;


.detail__wrap {
    width: 100%;
    height: auto;
    display: flex;
    gap: 5rem;
}

//detail info(left)
.detail__info {
    &-wrap {
        width: 83.2rem;
        height: auto;
    }

    &-prodImages {
        width: 100%;
        height: auto;
        display: flex;
        column-gap: 1.2rem;
        margin-bottom: 4rem;

        &-thumbnails {
            width: 10rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            a {
                display: block;
                width: 100%;
                height: auto;
                aspect-ratio: 1/1;
                background-color: #F9F9F9;
                border: 1px solid #D7D7D7;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 80%;

                &:first-child {
                    background-image: url('../../asset/images/detail-01.png');
                }

                &:last-child {
                    background-image: url('../../asset/images/detail-02.png');
                }
            }
        }

        &-bicImg {
            flex: 1;

            a {
                display: block;
                width: 100%;
                // height: auto;
                aspect-ratio: 1/1;
                background-color: #F9F9F9;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 75%;
                background-image: url('../../asset/images/detail-01.png');
            }
        }
    }

    &-video {
        position: relative;
        width: 100%;
        margin: 0 auto;
        aspect-ratio: 16 / 9;
        margin-bottom: 1rem;

        iframe {
            width: 100%;
            height: 100%;
            border: 0;
            display: block;
        }
    }

    &-tabMenu {
        width: 100%;
        display: flex;
        margin-bottom: 1rem;

        a {
            display: block;
            width: 100%;
            padding: 1.6rem 0;
            text-align: center;
            @include mix.font(H6);
            color: va.$gray-3;

            &.detail__info-tabMenu--active {
                color: va.$black-3;
                border-bottom: 2px solid #222222;
            }
        }
    }

    &-anker {
        padding: 1rem 0 2rem;

        ul {
            display: flex;
            flex-wrap: wrap;
            column-gap: 0.7rem;
            row-gap: 1.4rem;
            @include mix.font(Button3);
            color: va.$black-3;

            li.active a {
                background-color: va.$black-2;
                color: va.$white;
            }

            a {
                display: block;
                padding: 1rem 2.2rem;
                border: 1px solid #E0E0E0;
                border-radius: 3rem;
                color: va.$black-3;
                transition: all 0.3s ease;
            }
        }
    }

    &-images {
        margin-bottom: 6rem;
    }

    &-desc {
        display: none;
        margin-bottom: 6rem;
    }
}

//detail__order(right)
.detail__order {
    &-wrap {
        width: 100%;
        height: auto;
    }

    &-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    &-cardDesc {
        p {
            @include mix.font(Body3);
            color: va.$sub-gold;
            margin-bottom: 0.2rem;
        }

        h3 {
            @include mix.font(H4);
            color: va.$black-3;
            //줄수제한
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            overflow: hidden;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.8rem;
            padding: 1.4rem 0;
            // margin-bottom: 0.8rem;
        }

        li:nth-child(odd) {
            @include mix.font(Body3);
            color: va.$gray-2;
        }

        li:nth-child(even) {
            font-size: 1rem;
            color: #E0E0E0;
        }

        hr {
            border: none;
            border-top: 1px solid #E2E2E2;
            margin-bottom: 0.8rem;
        }
    }
}

.detail__formSet {
    &-button {
        width: 100%;
        display: flex;
        gap: 1rem;
        @include mix.font(Button2);

        a {
            padding: 1.5rem 0;
            background-color: #F5F5F5;
            border-radius: 3rem;
        }
    }
}

//플로팅 메뉴
.detail__float-menu {
    a {
        width: 7rem;
        height: 7rem;
        background-color: va.$sub-blue2;
        border-radius: 50%;
        position: fixed;
        right: 3rem;
        bottom: 3rem;
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.4s ease;
        z-index: 100;
        pointer-events: none;
    }

    &.show a {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;

        &:hover {
            transform: translateY(-4px);
            opacity: 0.8;
        }
    }

    @media (max-width: 1024px) {
        display: none;
    }
}