//메인타이틀
.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: start;
}

.main-title p {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 20px;
    letter-spacing: -1px;
}

.main-title h2 {
    font-size: 55px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

.main-title h2 span {
    font-size: 70px;
    font-weight: 700;
}