@use 'mixins' as mix;
@use 'variables' as va;

//1rem 기준을 10px로 설정
html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "pretendard", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: va.$black-3;
}

//Utility class
.container {
    height: 100%;
    @include mix.container-padding;
}

.headFoot-container {
    @include mix.headFoot-container-padding;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-fit {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}