@use 'mixins';
@use 'variables';

// 메인타이틀
.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.mt-lighten {
    color: variables.$color-white;
}

.main-title h2 {
    @include mixins.font(SubTitle1);
}

.main-title h2 span {
    @include mixins.font(H1);
}

.main-title p {
    @include mixins.font(SubTitle4);
    margin-bottom: 30px;
}

//버튼
.mt-btn {
    @include mixins.font(Button2);
    display: inline-block;
    padding: 18px 45px;
    border: 1px solid;
    border-radius: 10px;
    position: relative;
}

.swiper-pagination {
    position: absolute;
    left: 0;
    top: calc(100% + 16px);
    width: auto;
}

.btn-lighten {
    color: variables.$color-white;
    border-color: variables.$color-white;
}

//swiper-pagenation
.swiper-pagination {
    position: absolute;
    left: 0;
    transform: translateX(0);
    bottom: 500px; /* 필요시 조정 */
    width: auto;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    opacity: 1;
    background: variables.$color-white;
}

.swiper-pagination-bullet-active {
    background: variables.$color-secondary;
}