@use 'variables' as va;
@use 'mixins' as mix;

.container {
    width: 100%;
    height: 100%;
    padding: 0 23.8rem;
}

// gnb
.gnb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5.5rem 10rem;
    z-index: 10;

    &__menu-list {
        width: 50%;
        display: flex;
        gap: 10rem;
    }

    &__linkMenu-list {
        width: 5rem;
        display: flex;
        gap: 2rem;
    }
}

.menu a {
    width: 100%;
    @include mix.font(Body1);
    color: va.$white;
}


//hero-sec
.hero__sec {
    width: 100%;
    height: 100vh;
    position: relative;
}

.mySwiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

.hero {
    &-slide01 {
        height: 90vh;
        background-image: url('../../asset/images/kv01.jpg');
    }

    &-slide02 {
        height: 90vh;
        background-image: url('../../asset/images/kv02.jpg');
    }

    &-slide03 {
        height: 90vh;
        background-image: url('../../asset/images/kv03.jpg');
    }

    &__product-img {
        width: auto;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 42rem;
        z-index: 2;
    }
}


// productList-sec
.sideNav {
    display: flex;
    justify-content: end;
    text-align: right;
    // margin-right: 10rem;

    &-list {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }

    &-list a {
        display: block;
        @include mix.font(Button1);
        color: va.$gray-2;
        padding: 2rem 10rem 2rem 6rem;
        background-color: aquamarine;
    }
}

.productList__wrap {
    width: 100%;
    height: 100vh;
    padding-top: 10rem;
    // background-color: beige;

    .main__title {
        margin-bottom: 7rem;

        p {
            color: va.$black-3;
        }
    }
}

.mySwiper2 {
    width: 100%;
    position: relative;
}

.prod__slide-wrap {
    display: flex;
}

.prod {
    &__btn {
        display: flex;
        justify-content: end;
        gap: 0.7rem;
        margin-bottom: 1rem;
    }

    &__btn-prev {
        width: 4.4rem;
        height: 4.4rem;
        border: 1px solid #D9D9D9;
        border-radius: 50%;
        background-image: url('../../asset/images/prev-none.png');
        background-size: auto;
        transition: all 0.3s ease;

        &:hover {
            background-image: url('../../asset/images/prev-hover.png');
            border-color: va.$secondary;
        }

    }

    &__btn-next {
        width: 4.4rem;
        height: 4.4rem;
        border: 1px solid #D9D9D9;
        border-radius: 50%;
        background-image: url('../../asset/images/next-none.png');
        background-size: auto;
        transition: all 0.3s ease;

        &:hover {
            background-image: url('../../asset/images/next-hover.png');
            border-color: va.$secondary;
        }

    }

    &__card {
        width: 100%;
        // height: 100%;
        height: 35rem;
        border: 1px solid #DFDFDF;
        border-radius: 3rem;
        text-align: center;
        padding: 2.3rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__cardIcon {
        width: 100%;
        height: 58%;
        display: flex;
        justify-content: space-between;

        &-center {
            width: 70%;
            background-size: contain;

            &-img01 {
                background-image: url('../../asset/images/list-Boiler-01.png');
            }
        }

        &-left {
            width: auto;
            height: 100%;
        }

        &-right {
            width: auto;
            display: flex;
            flex-direction: column;
            gap: 0.6rem;

            img {
                width: 3.4rem;
            }
        }
    }

    &__cardDesc {
        height: 38%;

        h3 {
            @include mix.font(H6);
            color: va.$black-3;
            text-align: start;
            margin-bottom: 0.4rem;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        li:nth-child(odd) {
            @include mix.font(Body5);
            color: va.$gray-2;
        }

        li:nth-child(even) {
            font-size: 1rem;
            color: #E0E0E0;
        }

        &-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.8rem;
            @include mix.font(H4);
            color: va.$black-3;

            span {
                @include mix.font(Body3);
            }

            p:first-child {
                @include mix.font(Body4);
            }
        }
    }


}