@use 'variables' as *;

// gnb
.gnb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 55px 100px;
    z-index: 100;
}

.menu-list {
    display: flex;
    gap: 100px;
}

.menu a {
    font-size: 1.25rem;
    color: $color-white;
}

.link-menu-list {
    display: flex;
    gap: 20px;
}

//hero-sec
.mySwiper {
    position: relative;
}

.swiper-wrapper {
    width: 100%;
    height: 100vh;
}

.hero-slide01 {
    background-image: url('../../asset/images/kv01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-slide02 {
    background-image: url('../../asset/images/kv02.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-slide03 {
    background-image: url('../../asset/images/kv03.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}