// 컬러 변수 정의 
$color-primary: #233671;
$color-secondary: #E5702B;
$subColor-blue1: #5E86D0;
$subColor-blue2: #7187CC;
$subColor-blue3: #C3CEE2;
$color-black1: #1c1c1c;
$color-black2: #222222;
$color-white: #fff;
$grayColor-gray1: #656565;
$grayColor-gray2: #a1a1a1;
$grayColor-gray3: #B3B3B3;
$grayColor-gray4: #E5E5E5;
$GrayColor-gray5: #EDEDED;