// 컬러 변수 정의 
$primary: #233671;
$secondary: #E5702B;
$sub-gold: #EBBE76;
$sub-blue1: #5E86D0;
$sub-blue2: #7187CC;
$sub-blue3: #C3CEE2;
$black-1: #1c1c1c;
$black-2: #222222;
$black-3: #3d3d3d;
$white: #fff;
$gray-1: #656565;
$gray-2: #a1a1a1;
$gray-3: #B3B3B3;
$gray-4: #E5E5E5;
$gray-5: #EDEDED;

// 폰트 변수 정의
$font-family-default: "Pretendard", sans-serif;
$font-weight: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700
);
$line-height: (
  tight: 1.1,
  normal: 1.2,
  relaxed: 1.5
);

$font-set: (
  H1: (weight: semibold,
    line-height: 1.2,
    letter-spacing:-0.2rem,
    desktop: 7rem,
    laptop: 6.2rem,
    tablet: 4.8rem,
    mobile: 3.8rem),
  H2: (weight: semibold,
    line-height: 1.2,
    letter-spacing:-0.2rem,
    desktop: 6.4rem,
    laptop: 5.2rem,
    tablet: 4.4rem,
    mobile: 3.2rem),
  H3: (weight: semibold,
    line-height: 1.2,
    letter-spacing:-0.2rem,
    desktop: 3.4rem,
    laptop: 3.2rem,
    tablet: 3rem,
    mobile: 2.8rem),
  H4: (weight: semibold,
    line-height: 1.2,
    letter-spacing:-0.2rem,
    desktop: 3rem,
    laptop: 2.7rem,
    tablet: 2.5rem,
    mobile: 2rem),
  H5: (weight: semibold,
    line-height: 1.2,
    letter-spacing:-0.2rem,
    desktop: 2.6rem,
    laptop: 2.3rem,
    tablet: 2rem,
    mobile: 1.8rem),
  H6: (weight: semibold,
    line-height: 1.2,
    letter-spacing:-0.1rem,
    desktop: 2rem,
    laptop: 1.8rem,
    tablet: 1.6rem,
    mobile: 1.5rem),

  SubTitle1: (weight: light,
    line-height: 1.2,
    letter-spacing:-0.2rem,
    desktop: 4.4rem,
    laptop: 3.6rem,
    tablet: 2.6rem,
    mobile: 1.9rem),
  SubTitle2: (weight: light,
    line-height: 1.2,
    letter-spacing:-0.2rem,
    desktop: 3.2rem,
    laptop: 2.8rem,
    tablet: 2.2rem,
    mobile: 1.7rem),
  SubTitle3: (weight: light,
    line-height: 1.2,
    letter-spacing:-0.2rem,
    desktop: 2.8rem,
    laptop: 2.4rem,
    tablet: 2rem,
    mobile: 1.6rem),
  SubTitle4: (weight: light,
    line-height: 1.2,
    letter-spacing:-0.1rem,
    desktop: 2.4rem,
    laptop: 2rem,
    tablet: 1.5rem,
    mobile: 1.2rem),

  Body1: (weight: regular,
    line-height: 1.5,
    letter-spacing:-0.2rem,
    desktop: 2rem,
    laptop: 1.9rem,
    tablet: 1.8rem,
    mobile: 1.6rem),
  Body2: (weight: regular,
    line-height: 1.5,
    letter-spacing: -0.1rem,
    desktop: 1.7rem,
    laptop: 1.6rem,
    tablet: 1.5rem,
    mobile: 1.4rem),
  Body3: (weight: regular,
    line-height: 1.5,
    letter-spacing:-0.1rem,
    desktop: 1.5rem,
    laptop: 1.5rem,
    tablet: 1.4rem,
    mobile: 1.4rem),
  Body4: (weight: regular,
    line-height: 1.5,
    letter-spacing:-0.1rem,
    desktop: 1.4rem,
    laptop: 1.4rem,
    tablet: 1.3rem,
    mobile: 1.4rem),
  Body5: (weight: regular,
    line-height: 1.5,
    letter-spacing:-0.1rem,
    desktop: 1.3rem,
    laptop: 1.3rem,
    tablet: 1.2rem,
    mobile: 1.4rem),

  Button1: (weight: semibold,
    line-height: 1.2,
    letter-spacing:-0.1rem,
    desktop: 2.6rem,
    laptop: 2.4rem,
    tablet: 1.8rem,
    mobile: 1.4rem),
  Button2: (weight: semibold,
    line-height: 1.2,
    letter-spacing:-0.1rem,
    desktop: 2rem,
    laptop: 1.8rem,
    tablet: 1.6rem,
    mobile: 1.4rem),
  Button3: (weight: semibold,
    line-height: 1.2,
    letter-spacing:-0.1rem,
    desktop: 1.6rem,
    laptop: 1.6rem,
    tablet: 1.5rem,
    mobile: 1.4rem)
);